<div class="container col-md-12">
    <br />

    <div class="row">
        <div class="col-md-2">
            <!-- this is ng2-table filtering directive usage -->
            <span class="textgray">Filter by Team Name</span>
            <input *ngIf="configTwo.filtering" placeholder="Filter" class="inputtext"
                   [ngTableFiltering]="configTwo.filtering"
                   (tableChanged)="ChangeTable(configTwo)" />
        </div>
        <div class="col-md-2">
            <span class="textgray">Items Per Page</span>
            <input type="number" min="0" [(ngModel)]="config.itemsPerPage">
        </div>
        <div class="col-md-2">
            <span class="textgray">Current Page</span>
            <input type="number" min="0" [(ngModel)]="config.currentPage">
        </div>
        <div class="col-md-1">
            <span class="textgray">Max Size</span>
            <input type="number" min="5" max="100" [(ngModel)]="maxSize">
        </div>
        <div class="col-md-2 col-md-offset-3 text-right">
            <br />         
            <!-- MODAL buttons -->          
          <button *ngIf="!isAuthenticated" type="button" data-target="#addremoveLogin" data-toggle="modal" class="btn btn-sm btn-danger">
                <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;Add Team
          </button>

            <div *ngIf="isAuthenticated">
                <button *ngIf="!isAllowedToAdd" class="btn btn-sm btn-success" data-target="#addDialog" data-toggle="modal">
                    <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;Add Team
                </button>
                <button *ngIf="isAllowedToAdd" class="btn btn-sm btn-success" (click)="addTeam()">
                  <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;Add Team
                </button>
            </div>
          <!-- END MODAL buttons -->      
        </div>      
      </div>
   
    <br/>

    <div class="row">
        <!-- table-responsive provides a slider on the
            bottom of the table when screen not wide -->
        <div class="table-responsive">
            <!--table-striped provide difference in row
            table-bordered provide borders between row and column
            table-hove provides hover functionality of individual rows
            table-condensed makes the padding between the row smaller -->
            <table class="table table-striped table-hover table-condensed">

                <thead>
                    <tr>                    
                        <th class="col-md-3 smalltext" style="vertical-align:middle;">                        
                          <span class="textgray text-uppercase" style="vertical-align:middle; margin-left:10px;">Name </span>
                          <button class="btn btn-sm btn-info" (click)="sortTable('TeamName')">
                              <span *ngIf="isTNameAsc" class="glyphicon glyphicon-chevron-down"></span>
                              <span *ngIf="!isTNameAsc" class="glyphicon glyphicon-chevron-up"></span>
                          </button>                           
                        </th>
                        <th class="col-md-2 smalltext" style="vertical-align:middle;">
                            <span class="textgray text-uppercase" style="vertical-align:middle;">Director</span>
                            <button class="btn btn-sm btn-info" (click)="sortTable('ProjectDirector')">
                                <span *ngIf="isPDirectorAsc" class="glyphicon glyphicon-chevron-down"></span>
                                <span *ngIf="!isPDirectorAsc" class="glyphicon glyphicon-chevron-up"></span>
                            </button>
                        </th>
                        <th class="col-md-2 smalltext" style="vertical-align:middle;">
                            <span class="textgray text-uppercase" style="vertical-align:middle;">Manager</span>
                            <button class="btn btn-sm btn-info" (click)="sortTable('ProjectManager')">
                                <span *ngIf="isPManagerAsc" class="glyphicon glyphicon-chevron-down"></span>
                                <span *ngIf="!isPManagerAsc" class="glyphicon glyphicon-chevron-up"></span>
                            </button>
                        </th>
                        <th class="col-md-2 smalltext" style="vertical-align:middle;">
                            <span class="textgray text-uppercase" style="vertical-align:middle;">Team Lead</span>
                            <button class="btn btn-sm btn-info" (click)="sortTable('TeamLead')">
                                <span *ngIf="isTLeadAsc" class="glyphicon glyphicon-chevron-down"></span>
                                <span *ngIf="!isTLeadAsc" class="glyphicon glyphicon-chevron-up"></span>
                            </button>
                        </th>
                        <th class="col-md-2 smalltext" style="vertical-align:middle;">
                            <span class="textgray text-uppercase" style="vertical-align:middle;">Business Line</span>
                            <button class="btn btn-sm btn-info" (click)="sortTable('BusinessLine')">
                                <span *ngIf="isBLineAsc" class="glyphicon glyphicon-chevron-down"></span>
                                <span *ngIf="!isBLineAsc" class="glyphicon glyphicon-chevron-up"></span>
                            </button>
                        </th>
                        <!--<th class="col-md-2 smalltext">Members</th>-->
                        <th class="col-md-2 smalltext textgray text-uppercase" style="vertical-align:middle;">Remove Team</th>
                    </tr>
                </thead>


                <tr *ngFor="let team of rows | paginate: config ">
                    <td class="col-md-3" style="vertical-align:middle;">
                        <a href="" [routerLink]="['Team', {id: team.TeamId}]" class="smalltext text-success text-uppercase"> 
                            <span style="margin-left:10px">{{ team.TeamName }}</span>
                        </a>
                    </td>
                    <td class="col-md-2" style="vertical-align:middle;">
                        <a href="" [routerLink]="['Member', {id: team.ProjectDirectorId, idteam:team.TeamId}]" class="smalltext text-success smalltext text-uppercase">
                            {{ team.ProjectDirector }}
                        </a>
                    </td>
                    <td class="col-md-2" style="vertical-align:middle;">
                        <a href="" [routerLink]="['Member', {id: team.ProjectManagerId, idteam:team.TeamId}]" class="smalltext text-success text-uppercase">
                            {{ team.ProjectManager  }}
                        </a>
                    </td>
                    <td class="col-md-2" style="vertical-align:middle;">
                        <a href="" [routerLink]="['Member', {id: team.TeamLeadId, idteam:team.TeamId }]" class="smalltext text-success text-uppercase">
                           {{ team.TeamLead  }}
                        </a>
                    </td>
                    <td class="col-md-2 smalltext textgray text-uppercase" style="vertical-align:middle;">{{ team.BusinessLineName }}</td>
                    <!--<td class="col-md-2 smalltext">
                        <a href="" [routerLink]="['Members', {teamid: team.TeamId }]" class="text-info" style="text-decoration:underline">
                            <strong>Members</strong>
                        </a>
                    </td>-->

                  <td class="col-md-2 text-center" style="vertical-align:middle;">
                      <!-- MODAL buttons -->            
                    <button *ngIf="!isAuthenticated" type="button" data-target="#addremoveLogin" data-toggle="modal" class="btn btn-sm btn-danger">
                              <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>&nbsp; Remove Team
                    </button>

                      <div *ngIf="isAuthenticated">
                          <a *ngIf="!isAllowedToRemove" href="#removeDialog" class="btn btn-sm btn-danger" data-toggle="modal">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>&nbsp; Remove Team
                          </a>
             
                          <button type="button" *ngIf="isAllowedToRemove" data-target="#removeAllowed" data-teamid=(team.TeamId) data-toggle="modal"
                                  class="btn btn-sm btn-danger" (click)="passToModal(team.TeamId)">
                                  <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>&nbsp; Remove Team
                          </button>
                      </div>
                      <!-- END MODAL buttons -->      
                  </td>
                </tr>

            </table>

            <!-- this is ng2-table pagination-->
            <pagination *ngIf="configTwo.paging"
                        disable="authoHide"
                        class="pagination-sm"
                        [(ngModel)]="config.currentPage"
                        [totalItems]="length"
                        [itemsPerPage]="config.itemsPerPage"
                        [maxSize]="maxSize"
                        [boundaryLinks]="true"
                        (pageChanged)="ChangeTable(configTwo, $event)"
                        (numPages)="numPages = $event">
            </pagination>
        

        </div>
    </div>

    <my-spinner [isRunning]="isRequesting"></my-spinner>

</div>


<!-- MODAL form to show when add/remove article is clicked and user is not logged in-->
<div class="modal fade" id="addremoveLogin" tabindex="-1" role="dialog" aria-labelledby="AddRemoveLogin">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <!-- this will introduce a x button in the corner of the modal dialog which can be used to close the dialog box -->
        <a href="#" class="close" data-dismiss="modal">&times;</a>
        <h4 class="text-warning"><span><i class="glyphicon glyphicon-exclamation-sign"></i></span>&nbsp;Login Warning!</h4>
        <!--<h5 class="modal-title text-warning" id="AddRemoveLogin">Login Dialog</h5>-->
      </div>

      <div class="modal-body text-warning">
        <p>You need to login to do that action. Do you want to log-in/sign-in?</p>
      </div>

      <div class="modal-footer">
        <button class="btn btn-danger" data-dismiss="modal">No</button>
        <button class="btn btn-success" [routerLink]="['Login']" data-dismiss="modal">Yes</button>
      </div>

    </div>
  </div>
</div>
<!-- MODAL end of modal form -->

<!-- MODAL form to show it when add team is clicked -and user not allowed -->
<div class="modal fade" id="addDialog" [hidden]="hideModal" role="dialog" tabindex="-1"  aria-labelledby="AddWarning">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <!-- this will introduce a x button in the corner of the modal dialog which can be used to close the dialog box -->
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4 *ngIf="!isAllowed" class="text-warning"><span><i class="glyphicon glyphicon-exclamation-sign"></i></span>&nbsp;Add Team Warning</h4>
                <!--<h5 class="modal-title text-warning" id="AddWarning">Add Team Warning</h5>-->
            </div>
            <div *ngIf="!isAllowed" class="modal-body text-warning">
                <p>You have no privileges to add new team!</p>
            </div>
            <div *ngIf="!isAllowed" class="modal-footer">
                <button class="btn btn-warning" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- MODAL end of modal form -->


<!-- MODAL form to show it when remove team is clicked when user not allowed -->
<div class="modal fade" id="removeDialog" tabindex="-1" role="dialog"  aria-labelledby="RemoveWarning">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!-- this will introduce a x button in the corner of the modal dialog which can be used to close the dialog box -->
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4 *ngIf="!isAllowed" class="text-warning"><span><i class="glyphicon glyphicon-exclamation-sign"></i></span>&nbsp;Remove Team Warning</h4>
                <!--<h5 class="modal-title text-warning" id="AddWarning">Remove Team Warning</h5>-->
            </div>
            <div *ngIf="!isAllowed" class="modal-body text-warning">
                <p>You have no privileges to remove the team!</p>
            </div>
            <div *ngIf="!isAllowed" class="modal-footer">
                <button class="btn btn-warning" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- MODAL end of modal form -->


<!-- MODAL form to show it when remove team is clicked when user is allowed -->
<div class="modal fade" id="removeAllowed" tabindex="-1" role="dialog" aria-labelledby="Remove">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <!-- this will introduce a x button in the corner of the modal dialog which can be used to close the dialog box -->
        <a href="#" class="close" data-dismiss="modal">&times;</a>
        <h4 class="text-warning"><span><i class="glyphicon glyphicon-exclamation-sign"></i></span>&nbsp;Remove Team Warning!</h4>
        <!--<h5 class="modal-title text-warning" id="Remove">Remove Team Warning</h5>-->
      </div>

      <div class="modal-body text-warning">
        <form>
            <p>Are you sure you want to delete this team? All associated team members will be also deleted!!!</p>
        </form>
      </div>

      <div class="modal-footer">
        <button class="btn btn-danger" data-dismiss="modal">No</button>
        <button class="btn btn-success" (click)="removeTeam(teamIdToBeRemoved)" data-dismiss="modal">Yes</button>
      </div>

    </div>
  </div>
</div>
<!-- MODAL end of modal form -->


